<a href="https://colab.research.google.com/github/igoralves1/Dental-Informatics/blob/main/Python-Course/Colaboratory/Data_Management_Health.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Managmemt and data Mining for Health Professionals**


---
Some thext here 

1. **Loading Data - Importing Files**

    *   Load data from local drive
    *   Import CSV file from GitHub repository
    *   Import JSON file from GitHub repository

2. **Header 2**
3. **Header 3**
4. **Header 4**
5. **Header 5**
6. **Header 6**
7. **References**:




* [TutorialPoint-Python Pandas Tutorial](https://www.tutorialspoint.com/python_pandas/index.htm)
* [Nbviewer](https://nbviewer.jupyter.org/)
* [W3-Pandas Tutorial](https://www.w3schools.com/python/pandas/default.asp)
* [3 Ways to Load CSV files into Colab](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92)
* [An introduction to JSON](https://towardsdatascience.com/an-introduction-to-json-c9acb464f43e)
* [data.world/datasets](https://data.world/datasets/epidemiology)

***Load data from local drive - CSV***

In [ ]:
from google.colab import files
uploaded = files.upload()

***Import CSV file from GitHub repository***

In [2]:
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/igoralves1/scrap2019-ncov/master/1581352943315.csv')
data.tail()

    Name  Conffirmed  Deaths  Cures
451   西宁          15      15     15
452  海北州           3       3      3
453   澳门          10       0      1
454   西藏           1       0      0
455   拉萨           1       1      1

***Import JSON file from GitHub repository***

In [ ]:
import pandas as pd
data = pd.read_json('https://raw.githubusercontent.com/igoralves1/Dental-Informatics/main/Python-Course/data/example1.json')
df_json = pd.DataFrame(data)
print(df_json)

***Import JSON multi level file from GitHub repository***

Normalize semi-structured JSON data into a flat table.

[pandas.json_normalize](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html#pandas-json-normalize)

In [ ]:
import pandas as pd
data = pd.read_json('https://raw.githubusercontent.com/igoralves1/Dental-Informatics/main/Python-Course/data/example2.json')
df_json = pd.DataFrame(data)
print(df_json)

In [ ]:
import pandas as pd
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
        {'name': {'given': 'Mose', 'family': 'Regner'}},
        {'id': 2, 'name': 'Faye Raker'}]
pd.json_normalize(data)

In [ ]:
import pandas as pd
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
        {'name': {'given': 'Mose', 'family': 'Regner'}},
        {'id': 2, 'name': 'Faye Raker'}]
pd.json_normalize(data, max_level=0)

In [ ]:
import pandas as pd
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
        {'name': {'given': 'Mose', 'family': 'Regner'}},
        {'id': 2, 'name': 'Faye Raker'}]
pd.json_normalize(data, max_level=1)

In [ ]:
import pandas as pd
data = [
   {
      "state":"Florida",
      "shortname":"FL",
      "info":{
         "governor":"Rick Scott"
      },
      "counties":[
         {
            "name":"Dade",
            "population":12345
         },
         {
            "name":"Broward",
            "population":40000
         },
         {
            "name":"Palm Beach",
            "population":60000
         }
      ]
   },
   {
      "state":"Ohio",
      "shortname":"OH",
      "info":{
         "governor":"John Kasich"
      },
      "counties":[
         {
            "name":"Summit",
            "population":1234
         },
         {
            "name":"Cuyahoga",
            "population":1337
         }
      ]
   }
]
# data = pd.read_json('https://raw.githubusercontent.com/igoralves1/Dental-Informatics/main/Python-Course/data/example3.json')
# pd.DataFrame(data)
pd.json_normalize(data, max_level=0)

## ***Summary Statistics***


---

***Import JSON multi level file from GitHub repository***

Normalize semi-structured JSON data into a flat table.

[pandas.json_normalize](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html#pandas-json-normalize)

In [ ]:
import pandas as pd
data=pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv')
data

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data["Age"]

In [ ]:
import pandas as pd
data=pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv')
data